#set($langs = $convert.toStrings($conf.interface.languages))
#set($currentParam = $request.url)

<script type="text/javascript">

function AdminMenu() {}
AdminMenu.prototype.show = function() {
	$("#adminMenu").css("top",$("#header").offset().top + $("#header").height()+4);
	
	$("#adminMenu").show();
}

AdminMenu.prototype.hide = function() {
	$("#adminMenu").hide();
}
var adminMenu = new AdminMenu();


/** 
 * Parametrized processes
 */
function ParameterizedProcess() {
    // input form dialog
    this.dialog = null;
    // wait dialog
    this.waitDialog = null;
}

ParameterizedProcess.prototype._asArr=function(struct) {
    var arr = [];
    for (var key in struct) { arr.push(key+"="+struct[key]); } 
    return arr;        	 
}


ParameterizedProcess.prototype.openWaitDialog = function() {
    if (this.waitDialog) {
        this.waitDialog.dialog('open');
    } else {
        var pdiv ='<div id="parametrized_process_form_wait">'+
                    "<div style=\"margin: 16px; font-family: sans-serif; font-size: 10px;\">"+
                        "<table style='width:100%'>"+
                            "<tbody>"+
                            "<tr><td align=\"center\"><img src=\"img/loading.gif\" height=\"16px\" width=\"16px\"></td></tr>"+
                            "<tr><td align=\"center\">"+dictionary['parametrizedprocess.dialog.waitForm']+"</td></tr>"+
                            "</tbody>" +
                        "</table>" +
                    "</div>"+
                  '</div>';
            
        $(document.body).append(pdiv);
        this.waitDialog = $("#parametrized_process_form_wait").dialog({
            bigframe: true,
            width:  500,
            height:  300,
            modal: true,
            title: dictionary['common.waitplease'],
            buttons: [{
                          text:dictionary['common.close'],
                          click:bind(function() {
                             this.waitDialog.dialog("close"); 
                          },this)
            }]
        });
    }
}

/**
 * opens parameters dialog
 */
ParameterizedProcess.prototype.open = function(definition, paramsMapping) {

    this.openWaitDialog();
    
    //paramsMapping = paramsMapping ? paramsMapping : {};

    var pMappingsUrl = "{"+reduce(function(base, element, status) {
    	if (!status.first) {
        	base = base + ";";
        }
    	base = base + element;
    	return base; 
    }, "", this._asArr(paramsMapping))+"}";
    		  
    var url = "lr?action=form_get&def="+definition;

    if (pMappingsUrl) url = url+"&paramsMapping="+pMappingsUrl;

    $.get(url , bind(function(data){
        
        this.waitDialog.dialog('close');
        
    	if (this.dialog) {
    		this.dialog.dialog('open');
        } else {
            var pdiv = '<div id="parametrized_process"></div>';
            $(document.body).append(pdiv);
            this.dialog = $("#parametrized_process").dialog({
                bgiframe: true,
                width:  700,
                height:  500,
                modal: true,
                title: '',
                buttons: [
                    {
                        text: dictionary['common.start'],
                        click: bind(function() {
                            window.onProcessFormSend();
                            this.dialog.dialog("close"); 
                        }, this)
                    },
                    {
                        text: dictionary["common.close"],
                        click:bind(function() {
                            this.dialog.dialog("close"); 
                        },this) 
                    }
                ]
                    
            });
        }
    	$("#parametrized_process").dialog( "option", "title", dictionary['parametrizedprocess.dialog.title'] );
        $("#parametrized_process").html(data);
    }, this));
}


var parametrizedProcess = new ParameterizedProcess();


</script>

<script type="text/javascript">

            function SiginOptions() {this.dialog=null;}
            SiginOptions.prototype.open=function() {   
		    	if (this.dialog) {
		    		this.dialog.dialog('open');
			    } else {
			        $(document.body).append('<div id="loginOptions" style="display:none">'+
			        	'<table style="width: 100%; height:200px;text-align:center;">'+
							'<tr>'+
								'<td><div id="k5signin"><a href="redirect.jsp"><img width="90" height="90" src="img/logo.png"/></a></div></td>'+
								'<td><div id="gplussignin"><a href="gplus.jsp"><img width="90" height="90" src="img/google_plus_logo.png"/></a></div></td>'+
							'</tr>'+								
			        	'</table>'+
			        '</div>');
					
			        
					
			        this.dialog = $('#loginOptions').dialog({
			            width:600,
			            height:400,
			            modal:true,
			            title: 'login options',
			            buttons: {
			            	"Close": function() {
			                    $(this).dialog("close");
			                }
			            }
			        });
				}            	
            }
    
            var soptions = new SiginOptions();
</script>



#set($l = $link.relative())
#foreach($p in $params.all.entrySet())
    #if($p.key != "language")
        #set($l = $l.param($p.key, $p.value))
    #end
#end

<div  id="main_menu_in" style="">
    #foreach($lang in $langs)
        #if($velocityCount % 2 == 1)
            #set($lname = $lang)
        #else
            <a href="$l.param("language", $lang)">${lname}</a>
        #end
    #end

        <!-- Registrace pouze pro neprihlasene -->
        #if(!$logControl.logged)
            #if(${text.search.mainbuttons.showregistrationbutton} == "true")
                <a id="registerHref" href="javascript:registerUser.register();">$text.registeruser.menu.title</a>
            #end
        #end

        <!--  show admin menu - only for logged users -->
        #if($logControl.logged)
            <a id="adminHref" href="javascript:adminMenu.show();">$text.administrator.menu</a>
        #end
        
        <!-- login - only for notlogged "redirect.jsp"-->
        #if(!$logControl.logged)
            <a href="javascript:soptions.open();">$text.application.login</a>
        #end

        
        <!-- logout - only for logged -->
        #if($logControl.logged)
            #if(!${buttons.shibbLogout})
                 <a href="logout.jsp?redirectURL=${searchFormViewObject.requestedAddress}">$text.application.logout</a>
            #else
                 <a href="${buttons.shibbLogout}"><view:msg>application.logout</view:msg></a>
            #end
        #end

<a href="javascript:showHelp('$!{params.language}');">$text.application.help</a>
#if($rows != 0)
    <a href=".">$text.application.home</a>
#end
</div>


<!-- admin menu -->	
<div id="adminMenu" class="shadow ui-widget-content" style="display:none;">
    <div class="header">Vice...</div>
	    <div id="adminMenuItems" class="adminMenuItems">
 		<!-- public items -->		
 		#foreach( $item in $menu.publicItems )
 		  <span class="ui-icon ui-icon-triangle-1-e">item</span>
		  <div align="left"> 
			    <a href="$item.href">$item.name</a>
		  </div> 	
		#end

 		#if( $menu.adminMenuVisible )
 			<hr>
	 		<!-- admin items -->		
	 		#foreach( $item in $menu.adminItems )
	 		  <span class="ui-icon ui-icon-triangle-1-e">item</span>
			  <div align="left"> 
				<a href="$item.href">$item.name</a>
			  </div> 	
			#end
 		
		#end
 		
    	</div>
 
		<div class="footer">
			<input type="button" value="Close" class="ui-state-default ui-corner-all"  onclick="adminMenu.hide();" />
		</div>
</div>



