#set($langs = $convert.toStrings($conf.interface.languages))
#set($currentParam = $request.url)

#set($l = $link.relative())
#foreach($p in $params.all.entrySet())
    #if($p.key != "language")
        #set($l = $l.param($p.key, $p.value))
    #end
#end

<div  id="main_menu_in">
    #foreach($lang in $langs)
        #if($velocityCount % 2 == 1)
            #set($lname = $lang)
        #else
            <a href="$l.param("language", $lang)">${lname}</a>
        #end
    #end

        <!-- Registrace pouze pro neprihlasene -->
        <scrd:notloggedusers>
            #if(${text.search.mainbuttons.showregistrationbutton} == "true")
                <a id="registerHref" href="javascript:registerUser.register();">$text.registeruser.menu.title</a>
            #end
        </scrd:notloggedusers>

        <!--  show admin menu - only for logged users -->
        #if($loggedusers)
            <a id="adminHref" href="javascript:showAdminMenu();">$text.administrator.menu</a>
        #end
        
        <!-- login - only for notlogged -->
        <scrd:notloggedusers>
            <a href="redirect.jsp?redirectURL=${searchFormViewObject.requestedAddress}">$text.application.login</a>
        </scrd:notloggedusers>
        
        <!-- logout - only for logged -->
        #if($loggedusers)
            #if(!${buttons.shibbLogout})
                 <a href="logout.jsp?redirectURL=${searchFormViewObject.requestedAddress}">$text.application.logout</a>
            #else
                 <a href="${buttons.shibbLogout}"><view:msg>application.logout</view:msg></a>
            #end
            </c:choose>
        #end

<a href="javascript:showHelp('$!{params.language}');">$text.application.help</a>
#if($rows != 0)
    <a href=".">$text.application.home</a>
#end
</div>