{
        pdfMaxRange:20,
        previewStreamGenerated:false,
        deepZoomGenerated:false,
        deepZoomCofigurationEnabled:false,
        
        mimeType:'image/jpeg', 
        hasAlto:false,
        pid:"$params.pid",
        model:"page",
        
        displayableContent:true,
        
        imgfull:true,
    
        donator:'',
        
        
        pathsOfPids:[    ["uuid:6e1b0dda-c1a7-11df-b7b5-001b63bd97ba" ,"uuid:6b767ab8-c1a7-11df-b7b5-001b63bd97ba" ]],
        imageServerConfigured:'false', 

            rights: 
            { 
                      "administrate": { 
                                   "uuid:6e1b0dda-c1a7-11df-b7b5-001b63bd97ba":false  ,"uuid:6b767ab8-c1a7-11df-b7b5-001b63bd97ba":false  ,"uuid:1":false   
                      }  ,
                      "read": { 
                                   "$params.pid":true  ,"$params.pid":true  ,"uuid:1":true   
                      }   
            },                
                isContentPDF:function() {return viewerOptions.mimeType=='application/pdf'},
                isContentDJVU:function() {return viewerOptions.mimeType.indexOf('djvu')> 0 }
}
