#if($params.home)
    #set($xml = $search.getDa())
#end
#set($xsl = $import.read("xsl/da.xsl"))

#if($conf.search.dateaxis.min)
    #set($damin = $conf.search.dateaxis.min)
#else
    #set($damin = "1000")
#end

#set($damax = $conf.search.dateaxis.max)
#if($damax == 'now')
    #set($damax = $date.get('yyyy'))
#end

<div id="selectDiv" class="da_select" style="display:none;" ></div>

<div id="da-inputs">
    <span style="float:left;">$text.Od:&nbsp;</span>
    <input style="float:left;" class="da_input" id="f1" size="10" type="text" value="" onkeyup="checkDoFilter(event)" />
    <span style="float:left;">&nbsp;$text.Do:&nbsp;</span>
    <input style="float:left;" class="da_input" id="f2" size="10" type="text" value="" onkeyup="checkDoFilter(event)"  /> 
<a href="javascript:doFilter();" style="float:right; width:16px;overflow:hidden;" ><span class="ui-icon ui-icon-search" title="$text.dateaxis.use" >a</span></a>
</div>
<div id="content-resizable" style="position:relative;float:none;">
<div id="content-scroll" style="float:left;" >
    <div id="select-handle-top" class="da_select_handle" ><span class="ui-icon ui-icon-triangle-2-n-s" style="z-index:2;top:-7px;position:absolute;left:50%;">handle</span></div>
    <div id="select-handle-bottom" class="da_select_handle"><span class="ui-icon ui-icon-triangle-2-n-s" style="z-index:1;top:-7px;position:absolute;left:50%;">handle</span></div>
    <div id="resizable-top" class="ui-state-active da_resizable"></div>
    <div id="resizable-bottom" class="ui-state-active da_resizable"></div>
        <div id="img_resize_bottom" class="da_resize"></div>
        <div id="img_resize_top" class="da_resize"></div>
        <div id="constraint_bottom" class="da_constraint" ></div>
        <div id="constraint_top" class="da_constraint" style="top:0px;left:0px;" ></div>
    <div class="da_container" id="da_container">
        <div id="bubbleDiv" class="da_bubble" ><div id="bubbleText" ></div></div>
$xslt.addParam("cfgmin", "${damin}")    
$xslt.addParam("cfgmax", "${damax}")    
#if($params.home)
    $xslt.transform($xml, $xsl)
#else
    $xslt.transform($results, $xsl)
#end
    </div>
</div>
</div><div class="clear"></div>
