<div id="selectDiv" class="da_select" style="display:none;" ></div>

<div id="da-inputs">
    <span style="float:left;"><fmt:message bundle="${lctx}">Od</fmt:message>:&nbsp;</span>
    <input style="float:left;" class="da_input" id="f1" size="10" type="text" value="" onkeyup="checkDoFilter(event)" />
    <span style="float:left;">&nbsp;<fmt:message bundle="${lctx}">Do</fmt:message>:&nbsp;</span>
    <input style="float:left;" class="da_input" id="f2" size="10" type="text" value="" onkeyup="checkDoFilter(event)"  /> 
<a href="javascript:doFilter();" style="float:right; width:16px;overflow:hidden;" ><span class="ui-icon ui-icon-search" title="<fmt:message bundle="${lctx}">dateaxis.use</fmt:message>" >a</span></a>
</div>
<div id="content-resizable" style="position:relative;float:none;">
<div id="content-scroll" style="float:left;" >
    <div id="select-handle-top" class="da_select_handle" ><span class="ui-icon ui-icon-triangle-2-n-s" style="z-index:2;top:-7px;position:absolute;left:50%;">handle</span></div>
    <div id="select-handle-bottom" class="da_select_handle"><span class="ui-icon ui-icon-triangle-2-n-s" style="z-index:1;top:-7px;position:absolute;left:50%;">handle</span></div>
    <div id="resizable-top" class="ui-state-active da_resizable"></div>
    <div id="resizable-bottom" class="ui-state-active da_resizable"></div>
        <div id="img_resize_bottom" class="da_resize"></div>
        <div id="img_resize_top" class="da_resize"></div>
        <div id="constraint_bottom" class="da_constraint" ></div>
        <div id="constraint_top" class="da_constraint" style="top:0px;left:0px;" ></div>
    <div class="da_container" id="da_container">
        <div id="bubbleDiv" class="da_bubble" ><div id="bubbleText" ></div></div>
    

    </div>
</div>
</div><div class="clear"></div>

<script type="text/javascript">

    var daJSON = $results.get("facet_counts").get("facet_ranges").get("rok");
    
    var years = daJSON.counts;
    var number_of_items = years / 2;

    var maxYear = 0;
    var minYear = 10000;

    var zooms = new Array();
    zooms[0] = [minYear, maxYear];
    zooms[1] = [minYear, maxYear];
    var startTime = minYear;
    var endTime = maxYear;
    firstBar = startTime;
    lastBar = maxYear;

    function setMaxMinYearCount(years){
      
      for(var i=0; i<years.length; i++){
            maxYear = Math.max(maxYear, years[++i]);
            minYear = Math.max(minYear, years[++i]);
        }
    }

    

    var times = new Array();
    var sizes = new Array();
    var maximums = new Array();
    var level = 0;
    var levels = 1;
    var shortMonths= ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var longMonths= ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var shortDays= ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    var longDays= ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    
    //var showStaticAxis = true;
    var maxCount;
  
    $(document).ready(function(){
        if(number_of_items<2){
            $("#dadiv").remove();
            return;
        }
        
        dateAxisActive = true;
        var a = new Array();
        $(".da_group").each(function(){
            var id = $(this).attr("id").split("_")[2];
            a[id + "0"] = [0, id + "0", id + "9"];
        });
        times[0] = a;
        
        var a2 = new Array();
        $(".da_bar").each(function(){
            var id = $(this).attr("id").split("_")[2];
            a2[id] = [0, id, id];
        });
        times[1] = a2;
        
        $(".da_bar_container").bind("mouseover", function(){
            var l = $(this).width()+$("#content-scroll").offset().left;
            var id = $(this).attr("id").split("_")[3];
            $("#bubbleDiv").css("left", l+ "px");
            $("#bubbleDiv").css("top", ($(this).offset().top-25) + "px");
            $("#bubbleText").html(id + " (" + $(this).text() + ")");
        });
        
        $(".da_bar_container").bind("mouseout", hideBubble);
        
        $(".da_bar_container").bind("click", function(){
            var id = $(this).attr("id").split("_")[3];
            //$("#" + fromField).val(formatDate(id));
            //$("#" + toField).val(formatDate(id));
            $("#" + fromField).val("01.01."+id);
            $("#" + toField).val("31.12."+id);
            if($(this).text()=="0"){
                return;
            }
            doFilter();
        });
        
        $("#select-handle-top").draggable({
            containment: '#constraint_bottom',
            axis:'y',
            drag: selectHandleChangeTop,
            stop: setSelectContainmentBottom
        });
        $("#select-handle-bottom").draggable({
            containment: '#constraint_top',
            axis:'y',
            drag: selectHandleChangeBottom,
            stop: setSelectContainmentTop
        });
        $("#content-scroll").bind('scroll', function() {
            daScrolled();
        });
      
        //initDateAxis();
        //$("#content-resizable").css("height", (containerHeight+7) + "px");
        //daScrollToMax();

    });
    function checkDoFilter(event){
        if( event.keyCode == 13){
            doFilter();
        }
    }
</script>
