<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
#parse("language.vm")
#set($results = $search.home)
<html>
    #parse( "html_header.vm" )
    <body>
        <div id="main" class="shadow">
            #parse( "header.vm" )
            <div class="clear"></div>
            <div style="display:block;">
                #parse( "home.vm" )
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            #parse( "footer.vm" )
        </div>
        #if(${param.error})
            <script type="text/javascript">
                $(document).ready(function(){
                    alert('$text.error.${param.error}');
                });
            </script>
       #end
    </body>
</html>