<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" xmlns:fb="http://ogp.me/ns/fb#">
#set($language = "$request.locale.language")
#if($params.language)
    #set($text = $text.locale("$params.language"))
    #set($language = "$params.language")
#end

#set($bundle_url = "${conf.applicationUrl}/i18n?action=bundle&format=xml&name=labels&language=${language}")
<html>
    #parse( "html_header.vm" )
    <body>
        <div id="main" class="shadow">
            #parse( "header.vm" )

#set($isGrouped = !$fqsStr.contains('fedora.model'))
#if($isGrouped)
    #set($results = $search.grouped)
#else
    #set($results = $search.ungrouped)
#end
            <div class="clear"></div>
            <div id="split" style="display:block;">
                #parse( "results.vm" )
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            #parse( "footer.vm" )
            <script type="text/javascript">
              var rbs = new RebuildSocialButtons();
              // rebuild gplus button - explicit initialization
              rbs.rebuildExplicit(rbs.buildSearchURLS());
              
            </script>
        </div>
        #if(${params.error})
            <script type="text/javascript">
                $(document).ready(function(){
                    alert('$text.error.${params.error}');
                });
            </script>
       #end
    </body>
</html>