<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" xmlns:fb="http://ogp.me/ns/fb#">
#parse("language.vm")
<html>
    #parse( "html_header.vm" )
    <body>
        <div id="main" class="shadow">
            #parse( "header.vm" )

#set($isGrouped = !$fqsStr.contains('fedora.model'))
#if($isGrouped)
    #set($results = $search.grouped)
#else
    #set($results = $search.ungrouped)
#end
            <div class="clear"></div>
            <div id="split" style="display:block;">
                #parse( "results.vm" )
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            #parse( "footer.vm" )
        </div>
    </body>
</html>