<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

   <!-- basicauthentication filter -->
    <filter>
        <filter-name>userdelagator</filter-name>
        <filter-class>cz.incad.kramerius.k5.k5velocity.UserCredFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userdelagator</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>



    <servlet>
        <servlet-name>K5Servlet</servlet-name>
        <servlet-class>cz.incad.kramerius.k5.k5velocity.K5Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>K5Servlet</servlet-name>
        <url-pattern>/k5</url-pattern>
    </servlet-mapping>
    
    <!-- Define Velocity template compiler -->
    <servlet>
        <servlet-name>velocity</servlet-name>
        <servlet-class>
            org.apache.velocity.tools.view.VelocityViewServlet
        </servlet-class>

        <!-- 
          Unless you plan to put your toolbox.xml and velocity.properties
          under different folders or give them different names, then these
          two init-params are unnecessary as of VelocityTools 1.3.  The
          VelocityViewServlet will automatically look for these files in
          the following locations.
        -->
        <init-param>
            <param-name>org.apache.velocity.toolbox</param-name>
            <param-value>/WEB-INF/toolbox.xml</param-value>
        </init-param>

        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>

    <!-- Map *.vm files to Velocity -->
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>cz.incad.kramerius.k5.k5velocity.ForwardServlet</servlet-class>
		
        <init-param>
            <param-name>user</param-name>
            <param-value>krameriusAdmin</param-value>
        </init-param>

        <init-param>
            <param-name>password</param-name>
            <param-value>krameriusAdmin</param-value>
        </init-param>

        <init-param>
            <param-name>k5prefix</param-name>
            <param-value>http://localhost:8080/search/api/v4.6/k5</param-value>
        </init-param>
		
    </servlet>

    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>k5user</role-name>
    </security-role>
    

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected area</web-resource-name>
            <description>no description</description>
            <url-pattern>/redirect.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>k5user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Protected</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp?failure=true</form-error-page>
        </form-login-config>
    </login-config>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.vm</welcome-file>
    </welcome-file-list>
</web-app>
